body {
  background-image: url('images/pexels-ari-roberts4.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: rgb(58, 46, 36);
  font-family: 'Raleway', sans-serif;
 
 
}
section {
  height: 500px;
  
}
.hero {
  height: 70vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 60px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 200px;
  text-transform:uppercase;
  color: white;
}
h2 {
  text-transform:uppercase;
}
.nav {
  height: 30px;
  padding-top: 10px;
  padding-bottom: 7px;
  list-style-type: none;
display: flex;
justify-content: flex-start;
gap: 30px;
font-size: 20px;
background-color:rgb(51, 31, 12,0.7);
  width: 1290px;
  text-transform: uppercase;
  position: sticky;
  top:0;
  margin:0;
  color: white;
}
.hamburger {
  display: none;
}
.hamburger:focus {
  outline: 0;
}

a {
  text-decoration: none;
  color: white;
}
.more-info {
  color: rgb(58, 46, 36);
}
.button {
  background-color: coral;
  font-weight: 500;
  width: 200px;
  height: 35px;
  font-size: 15px;
  border-radius: 10px;
  align-items: center;
  margin: auto;
padding-top: 17px;
  text-transform:uppercase;
  
}
.about {
  background-color: rgba(219, 199, 172, 0.75);
  display: flex;
  margin-bottom: 40px;
  border-radius: 10px;
}
.about-image {
  width: 400px;
  height: 500px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.about-text {
  margin: 30px;
}
.product-header {
  padding: 30px;
  margin: 0;
}
.product-link {
  color: rgb(58, 46, 36);
}
.products {
  background-color: rgba(219, 199, 172, 0.7);
  height: 550px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 40px;
}
.product-container {
  display: flex;
  justify-content: space-around;
  
}
.product-card {
  width: 300px;
  height: 500px;

}
.product-image {
box-shadow:5px 5px 10px rgba(138, 127, 112, 0.8);
  width: 300px;
  height: 400px;
  border-radius: 10px;
}
.creating {
  background-color: rgb(230, 221, 210);
  text-align: center;
  border-radius: 10px;
  height: 160vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.creating-text {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-around;
  gap: 40px;
  padding: 20px;
  
}
.first-column {
  width: 50%;
}
.second-column {
  width: 50%;
}



/*/////////////Dropdown menu22222////////////*/
.other-info {
  display: flex;
  justify-content: center;
}
.dropdown2 {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  margin: 30px;
  background-color: rgb(230, 221, 210);
  border: solid 1px rgb(222, 222, 222);
  width: 800px;
  cursor: pointer;
}

.menu2 {
  height: 200px;
}
.menu2 li {
  font-size: 15px;
  
  padding: 14px 10px;
  border-top: solid 1px rgb(202, 202, 202);
  
}
.dropdown2.closed .menu2 {
  height: 0px;
}

.dropdown-link2 {
  color: rgb(58, 46, 36);
}
.form {
  display: flex;
  justify-content:center;
 
}
.form-example {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

footer {
  height: 40vh;
  background-color:rgb(58, 46, 36);
  border-radius: 10px;
  color: white;
}
.contact {
  margin: 30px;
}
.contact-header {
  padding-top: 30px;
}


/*////////media//////////*/
@media only screen and (max-width: 1000px) {
  .product-container {
    display: flex;
    flex-wrap: wrap;
  }
  .products {
    
    height: 1050px;
    margin-bottom: 40px;
  }
  .hamburger {
    display: none;
  }
  .hamburger:focus {
    outline: 0;
  }
}
@media only screen and (max-width: 800px) {
  .about {
    padding: 10px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
  }
  .about-image {
    width: 200px;
  height: 300px;
  border-radius: 10px;
  align-content: center;
  margin: auto;
  }

  .about-text {
    margin: 10px;
  }
  .about-second {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .nav {
    font-size: 15px;
  }
  h2 {
    font-size: 17px;
  }
  h3 {
    font-size: 15px;
  }
  .hamburger {
    display: none;
  }
  .hamburger:focus {
    outline: 0;
  }
}

@media only screen and (max-width: 600px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    font-size: 30px;
    margin: 10px;
    align-self: flex-end;
    color: white;
  }
  .nav {
    display: none;
   height: fit-content;
    margin: 0px;
    padding: 5px 5px;
  }
  
  ul.show {
    display: block;
    background-color:transparent;
  }
  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color:rgb(51, 31, 12,0.7);
  }
  .products {
    
    height: 2050px;
    margin-bottom: 20px;
  }
  .about {
    
    height: 120vh;
  }
  .creating {
    height: 1500px;
  }
  .creating-text {
    display: flex;
   
    flex-wrap: wrap;
  }
  hr {
display: none;
  }
  body {
    background-image: url('images/pexels-ari-roberts4.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  
  }
}
